.paragraph{
    width: 600px;
}

p{
    font-size: 22px;
    color: lightgray;
}

.parag1{
    margin-top: 80px;
}

.parag2{
    margin-top: 40px;
}
button{
    border-radius: 24px;
    background-color: #51b310;
    color: white;
    border-color: #51b310;
    width: 150px;
    margin-top: 40px;

    
}
a{
    color: #51b310;
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
}



h3{
    color: #51b310;
}
.container{
    height: 100%;
    margin: 50px;
    margin-top: 80px;
    margin-left: 50px;
}
.title{
    font-size: 60px;
    color:#155746;
    margin-top: 10px;
}
.title-container{
    margin-top: 70px;
}

.body-container{
    margin-top: 40px;
}

.title2{
    margin-top: 40px;
    font-size: 70px;
    color:#155746;
}