.container{
    width: 50%;
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    height: 100%;
}

.content{
    left: 0;
}

p{
    font-size: 22px;
    color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border-radius: 24px;
    background-color: #51b310;
    color: white;
    width: 250px;
    margin-top: 40px;
    outline: none;
    border: 1px solid #51b310;
    cursor: pointer;

    
}
a{
    color: #51b310;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}



h3{
    color: #51b310;
    font-size: 20px;
}

.title-container p{
    margin: 10px 0 30px;
    font-size: 80px;
    color:#155746;
    line-height: 80px;
}

.body-container p{
    margin-top: 60px;
    padding: 2px;
    line-height: 22px;
}

.title2{
    margin-top: 40px;
    font-size: 70px;
    color:#155746;
}

.image{
 right: 0;

}
.up{
    height: 100%;
}