<app-header></app-header>
<div class="container">
    <div class="paragraph">
        <h3>Better teams payements</h3>
        <div class="title-container">
            <p class="title">Let players 
            </p>
            <p class="title2">stay players</p>
        </div>
        <div class="body-container">
            <div class="parag1">
            <p>
                Imagine paying 100% for your attention to the competition on the field whitout having to worry about teams payments
            </p>
            </div>
            <div class="parag2">
            <p>
                It's easy with Groundwork!
            </p>
            </div>
        </div>
        <button mat-raised-button>Get Started</button> 
        <a href="">or learn more</a>
    </div>
    <div class="">

    </div>
</div>
<app-footer></app-footer>