<app-header></app-header>
<div class="up">
    <div class="container content">
        <b><h3>Better teams payements</h3></b>
        <div class="title-container">
            <p class="title">Let players <br>stay players.</p>
        </div>
        <div class="body-container">
            <p>
                Imagine paying 100% for your attention to the competition <br> on the field whitout having to worry about teams payments
            </p>
            <p>
                It's easy with Groundwork!
            </p>
        </div>
        <button mat-raised-button>Get Started</button> 
        <a href="">or learn more</a>
    </div>
    <div class="container image">
        <div class="img">
            <img src="../../../assets/img/2.PNG" alt="fav">
        </div>
    </div>
</div>
<div class="lol">
<app-footer></app-footer>
</div>